.notice {
  background-color: $background-color;
  color: $font-color;
  max-width: 500px;
  max-height: 475px;
  padding: 25px;
  margin: 42px auto;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

.notice__announcement {
  text-align: right;
  position: relative;
  top: -10px;
}
