.md-dialog-container--confirmGameSignupDialog {
  border-radius: 5px !important;
  background-color: $background-color !important;
  border: 1px solid $gray;

  .conflicts {
    margin: 20px;

    .conflict {
      color: red;
    }
  }
    
  .warning {
    padding: 10px 10px;
    color: red;
  }
    
  .dialog-container__header {
    text-align: center;
    font-size: 22px;
  }

  .dialog-container__infoList {
    list-style-type: none;

    padding-top: 20px;

    li {
      padding: 5px;
    }
  }

  .dialog-container__info {
    text-align: center;
  }

  .dialog-container__dateBox {
    display: block;
    font-size: 0;
    width: 235px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 20px auto;
  }

  .dateBox-date {
    height: 54px;
    width: 50px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding: 6px 0 6px 6px;
    
    span:nth-of-type(1) { font-size: 13px; }
    span:nth-of-type(2) { font-size: 24px; }
  }
    
  .dateBox-time {
    width: auto;
    margin: 0 20px;
    height: 54px;
    display: inline-block;
    text-align: center;
    line-height: 54px;
    span { font-size: 24px; }
  }

  .dialog-container__actions {
    text-align: center;

    margin-top: 20px;

    button {
      margin: 10px;
    }
  }
}
