.md-dialog-container--editPlayerDialog {
  border-radius: 5px !important;
	background-color: $lgray !important;

  .dialog-container {
	  background-color: $lgray;

    width: 500px;
    min-height: 400px;

    border-radius: 5px;

    padding: 15px;

    .teamRadioButton {
      text-transform: capitalize;
    }

    .dialog-container__title, .dialog-container__points {
      text-align: center;
      color: white;

      font-weight: bold;
      font-size: 30px;

      margin-bottom: 20px !important;
    }

    md-autocomplete {
      height: 50px;

      border-radius: 0px;

      box-shadow: none;

      margin: 30px 0;

      input {
        height: 50px;

        color: $accent-color !important;
      }
    }

    .dialog-container__actions{
      margin-top: 20px;
    }

    .pointBox {
      .button {
        margin: 2px;
        width: 100%;
      }

      & > div {
        margin: 0 2px;
      }
    }
  }

  .logo {
    height: 25px;
    width: 25px;

    margin: 0;
  }

  .logo-title {
    display: none;
  }
}