.verify-container {
	margin-top: 120px;
	width: 80%;
	margin-left: 10%;
    border-radius: 5px;
    padding: 2px;
    background: rgba(15, 162, 236, 1);
    background: -moz-linear-gradient(-45deg, rgba(15, 162, 236, 1) 0%, rgba(217, 40, 108, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(15, 162, 236, 1)), color-stop(100%, rgba(217, 40, 108, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(15, 162, 236, 1) 0%, rgba(217, 40, 108, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(15, 162, 236, 1) 0%, rgba(217, 40, 108, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(15, 162, 236, 1) 0%, rgba(217, 40, 108, 1) 100%);
    background: linear-gradient(135deg, rgba(15, 162, 236, 1) 0%, rgba(217, 40, 108, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0fa2ec', endColorstr='#d9286c', GradientType=1);	
}

.verify {
	background-color: $gray;
    border-radius: 5px;
	h1 {
	text-align: center;
	padding: 32px 0 32px 0;
	}
	a {
		color: $main-color;
		font-weight: 700;
		&:hover {
			color: color($blue, light);
		}
	}
	p {
		padding: 0 50px 32px 50px;
	}
}