.logo {
	@include border-radius(50%);
	background: url('../../../assets/img/logo.png') no-repeat center;
	background-color: $background-color;
	background-size: 100%;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 3;
}

.logo-title {
	display: inline-block;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: white;
	
	&:after { content: "DevWars"; }
}

.logo-title--uppercase {
	text-transform: uppercase;
}

.logo--small {
	&.logo {
		height: 50px;
		width: 50px;
	}
	
	&.logo-title {
		font-size: 50px * 0.7;
		margin-left: 50px * 0.3;
	}
}

.logo--medium {
	&.logo {
		height: 80px;
		width: 80px;
	}
	
	&.logo-title {
		font-size: 80px * 0.7;
		margin-left: 80px * 0.3;
	}
}

.logo--large {
	&.logo {
		height: 100px;
		width: 100px;
	}
	
	&.logo-title {
		font-size: 100px * 0.7;
		margin-left: 100px * 0.3;
	}
}


.logo--xlarge {
	&.logo {
		height: 150px;
		width: 150px;
	}
	
	&.logo-title {
		font-size: 150px * 0.7;
		margin-left: 150px * 0.3;
	}
}